
body{
    font-family: Arial, Helvetica, sans-serif;
    font: black;
}

#images{
    transform: scale(0.5);
}

a, a:visited{
    text-decoration: none;
    color: black;
}

#nav_bar{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    justify-content: end;
    align-items: center;
}

#main_content{
    display: grid;
    justify-content: center;
    grid-row-gap: 15px;
    margin-top: 5%;
}

#buttons{
    display: grid;
    grid-template-columns: 110px 110px;
    justify-content: center;
}

#search_bar{
    width: 500px;
    height: 40px;
}

#logo{
    justify-self: center;
}


#page_container {
    position: relative;
    min-height: 100vh;
  }
  
  #content_wrap {
    padding-bottom: 2.5rem;
  }
  
  #footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 4fr repeat(3,1fr);
    align-items: center;
    
    justify-content: space-evenly;
    justify-items: center;
    background-color: rgba(223, 215, 215, 0.747);
    font-size: 0.9em;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
  }

  #statement{
      justify-self: center;
  }

